    <h2>My Room controller</h2>
    <form  class="form-horizontal" role="form">
        <input type="radio" name="state" value="on1" onclick="this.form.submit()"> Turn fan On
        <hr>
        <input type="radio" name="state" value="off1" onclick="this.form.submit()"> Turn fan Off
        <hr />
        <input type="radio" name="state" value="on2"  onclick="this.form.submit()"> Turn light On
        <hr>
        <input type="radio" name="state" value="off2" onclick="this.form.submit()"> Turn light Off
    </form>
